src/main/resources/xsd/TypesUtils.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:complexType name="TypedValueType">
        <xs:sequence>
            <xs:element name="type" type="ValueTypeEnum" minOccurs="0" default="number"/>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ValueTypeEnum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="number"/>
            <xs:enumeration value="VTL"/>
            <xs:enumeration value="TXT"/>
            <xs:enumeration value="VTL|MD"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>